/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body */
body {
    font-family: "Poppins", sans-serif;
    text-align: center;
    background: linear-gradient(135deg, #3786da, #ef4b9a);
    min-height: 100vh;
}

/* X/0 is winner */
h2 {
    display: block;
    text-align: center;
    color: white;
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 15px;
    letter-spacing: 2px;
}

/* Heading (TOP CENTER) */
h1 {
    color: white;
    margin-top: 30px;
    font-size: 40px;
    letter-spacing: 2px;
}

/* Container */
#board-container {
    margin: 30px auto;
    width: fit-content;

    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);

    padding: 25px;
    border-radius: 20px;

    box-shadow: 0 10px 30px rgba(0,0,0,0.3);
}

/* Status */
#status {
    color: white;
    margin-bottom: 10px;
    font-size: 18px;
}

/* Board */
#board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    gap: 12px;
    justify-content: center;
    margin: 20px 0;
}

/* Cells */
.cell {
    width: 100px;
    height: 100px;
    font-size: 35px;
    font-weight: bold;
    border: none;
    border-radius: 15px;
    cursor: pointer;

    background: white;
    color: #333;

    transition: 0.2s;
}

/* Hover */
.cell:hover {
    transform: scale(1.1);
    background: #87b9f3;
}

/* X style */
.cell.x {
    color: #e84118;
}

/* O style */
.cell.o {
    color: #0984e3;
}

/* Reset Button */
#resetBtn {
    margin-top: 10px;
    padding: 12px 25px;
    border: none;
    border-radius: 30px;

    background: #00cec9;
    color: white;
    font-size: 16px;
    font-weight: bold;

    cursor: pointer;
    transition: 0.3s;
}

/* Hover effect */
#resetBtn:hover {
    background: #00b894;
    transform: scale(1.1);
}

.win {
    background: #00b894;
    color: white;
    transform: scale(1.1);
}